<%- include('../partials/header') %>

<h2>Enter a New Movie</h2>
<form id="new-form" action="/movies" method="POST">
  <label
    >Title:
    <input type="text" name="title" required />
  </label>

  <label
    >Release Year:
    <input type="number" name="releaseYear" />
  </label>

  <label
    >MPAA Rating
    <select name="mpaaRating">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
  </label>

  <label
    >Now Showing: <input type="checkbox" name="nowShowing" checked />
  </label>

  <button type="submit">Add Movie</button>
  
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
